@using Store.EndPoint.MVC.Areas.Admin.Models
@model CategoryViewModel
@{
    ViewData["Title"] = "ویرایش دسته‌بندی";
    Layout = "";
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />

    <style>
        body {
            background: #f4f4f4;
            font-family: "IRANSans";
        }

        .box {
            background: white;
            padding: 25px;
            border-radius: 12px;
            box-shadow: 0 3px 15px rgba(0,0,0,0.1);
            max-width: 500px;
            margin: auto;
        }

        .form-control {
            border-radius: 8px;
        }

        .error {
            color: #dd3c3c;
            font-size: 14px;
            margin-top: 5px;
        }

        .btn {
            border-radius: 8px;
        }
    </style>
</head>

<body>
    <div class="container mt-5">

        <div class="box">
            <h4 class="text-center fw-bold mb-4">ویرایش دسته‌بندی</h4>
            @if (!ViewData.ModelState.IsValid)
            {
                <div asp-validation-summary="All" class="validation-summary"></div>
            }

            <form asp-area="Admin" asp-action="Update" asp-controller="Category" method="post">
                <input type="hidden" asp-for="Id" />

                <div class="mb-3">
                    <label asp-for="Title" class="form-label">عنوان:</label>
                    <input asp-for="Title"
                           class="form-label"
                           value=""
                           placeholder="@Model.Title" />
                    <span asp-validation-for="Title" class="error"></span>
                </div>

                <div class="d-flex justify-content-between mt-4">
                    <a asp-action="Index" class="btn btn-secondary">بازگشت</a>
                    <button type="submit" class="btn btn-primary">ذخیره</button>
                </div>
            </form>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>